@model IEnumerable<Mandalina.Entities.ContactForm>
@{
    ViewBag.Title = "İletişim Mail Listele";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section class="panel">
        <header class="panel-heading bg-tertiary">
            <div class="panel-actions">
                <a href="#" style="color:white;" class="fa fa-caret-down"></a>
                <a href="#" style="color:white;" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title" style="color:white;">İletişim Mail Listele</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>Adı Soyadı</th>
                        <th>Mail</th>
                        <th>Telefon</th>
                        <th>Meslek</th>
                        <th>İl</th>
                        <th>Konu</th>
                        <th>Mesaj</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.Name @item.Surname</td>
                            <td>@item.Mail</td>
                            <td>@item.Phone</td>
                            <td>@item.Job</td>
                            <td>@item.City</td>
                            <td>@item.Subject</td>
                            <td>@item.Message</td>
                            <td>
                                <a onclick="return confirm('Silmek istediğinize eminmisiniz ?')" class="btn btn-danger" href="/Panel/UserContactForm/Delete/@item.Id"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>