@model IEnumerable<Mandalina.Entities.ConstantValues>

@{
    ViewBag.Title = "Sabit Değerler Listesi";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section class="panel">
        <header class="panel-heading bg-tertiary">
            <div class="panel-actions">
                <a href="#" style="color:white;" class="fa fa-caret-down"></a>
                <a href="#" style="color:white;" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title" style="color:white;">Sabit Değerler Listesi <a href="@Url.Action("Create","ConstantValuesPage")" class="btn btn-success"><i class="fa fa-check"></i> Yeni Sabit Değer Ekleyin</a></h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>Dil</th>
                        <th>Sayfa İsmi</th>
                        <th>Anahtar</th>
                        <th>Değer</th>
                        <th>Aktif Durumu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.Language.Name</td>
                            <td>@item.PageName</td>
                            <td>@item.Key</td>
                            <td>@Html.Raw(item.Value)</td>
                            @if (item.IsActiveted == true)
                            {
                                <td><i class="fa fa-check"></i> Aktif</td>
                            }
                            else
                            {
                                <td><i class="fa fa-remove"></i> Pasif</td>
                            }
                        <td>
                            <a href="/Panel/ConstantValuesPage/Edit/@item.Id" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                            <a onclick="return confirm('Silmek istediğinize eminmisiniz ?')" class="btn btn-danger" href="/Panel/ConstantValuesPage/Delete/@item.Id"><i class="fa fa-trash-o"></i></a>
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>